%html
  %body
    .header
      .header__logo
        グループを作成しました

    .left-contents
      .user
        .user__name
          ユーザー名
        .user__menu
        =link_to "#", class: "user__menu" do
          = fa_icon 'cog'
          %span<>
        =link_to "#", class: "user__menu" do
          = fa_icon 'edit'
          %span<>

      .list
        .list__group
          .list__title
            グループ名　その１
          .list__message
            メッセージ　その１
        .list__group
          .list__title
            グループ名　その２２２２２
          .list__message
            メッセージ　その２２２２２

    .right-contents
      .top
        .top-left
          .top-left__title
            グループ名
          .top-left__member
            Member：メンバー名
        .top-right
          .top-right__edit
          =link_to "#",class: "top-right__btn" do
            Edit

      .chat
        .chat__message
          .chat__message--member
            メンバー名１
          .chat__message--date
            2020/20/20(Mon) 20:20:20
          .chat__message--message
            メッセージ１
          .chat__message--member
            メンバー名２
          .chat__message--date
            2020/20/20(Mon) 20:20:20
          .chat__message--message
            メッセージ２
          .chat__message--member
            メンバー名　上限これくらい
          .chat__message--date
            2020/20/20(Mon) 20:20:20
          .chat__message--message
            メッセージ３３３３３３３３３３３３３３３３３３３３
          .chat__message--message
            メッセージ３３３３３３３３３３３３３３３３３３３３
          .chat__message--message
            メッセージ３３３３３３３３３３３３３３３３３３３３
          .chat__message--message
            メッセージ３３３３３３３３３３３３３３３３３３３３
          .chat__message--message
            メッセージ３３３３３３３３３３３３３３３３３３３３
          .chat__message--message
            メッセージ３３３３３３３３３３３３３３３３３３３３
          .chat__message--message
            メッセージ３３３３３３３３３３３３３３３３３３３３

      .form
        .main
          .main__message
            .main__message--text
              %input#textarea{:placeholder => "message", :type => "text", :name => "text"}
            .main__message--image
              %label{:for => "img"}
                = fa_icon 'image'
                %input#img{:type => "file", :name => "image"}
          .main__btn
            =link_to "#",class: "main__btn" do
              Send